body{
    box-sizing: border-box;
    text-align: center;
    
    
}
.btn2 {
  display: none;
  
}
.show{
    display: block;
    background-color: rgb(79, 255, 79);
}
.box1{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    
}
button{
    background-color: gold;
    padding: 10px;
    margin: 10px;
    width: 100px;
    cursor: pointer;
}
.display{
    border: 2px solid black;
    width: 20%;
    text-align: center;
    margin: 0 auto;
    height: 40px;
    border-radius: 10px;

}
.counter{
border: 1px solid black;
padding: 5px;
margin: 2px 2px;

}
.boxCounter{
    display: none;
}
.boxCounter2{
    display: none;
}
.boxCounterShow{
    display: flex;
    flex-direction: column;
}
.boxCounter  button{
    border-radius: 5px;
}
.up, .down {
    background-color: rgb(166, 224, 65);
}
.reset{
    background-color: coral;
}

.boxCounter2 button {
    border-radius: 5px;
    text-align: center;
    background-color: rgb(61, 235, 211);
    margin: 5px auto;
}
.boxCounter2>form>button {
    background-color: rgb(112, 248, 95);
    
}
.formBooks{
    display: flex;
    flex-direction: column;
}
.bookList{
    padding: 0;
    margin: 0;

}
.bookList li{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 2px auto;

}
